<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% capture title %}{% t page.title %}{% endcapture %}
        <title>SignDict - {{ title | default: page.title }}</title>

        {% feed_meta %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/default.css">

        <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
        <link rel="icon" href="/favicon_64.png" sizes="64x64">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> 
      </head>
    <body>
      <div class="navbar-container">
      <nav class="navbar navbar-light bg-faded mb-2">

        {% if site.lang == "de" %}
          <a class="navbar-brand" href="https://signdict.org/?locale=de">SignDict</a>
        {% else %}
          <a class="navbar-brand" href="https://signdict.org/?locale={{ site.lang }}">SignDict</a>
        {% endif %}

        <button class="navbar-toggler hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
          <ul class="nav navbar-nav float-sm-right navbar-toggleable-xs">
            <li class="nav-item">
              <a class="nav-link nav-about" href="https://signdict.org/about">{% t global.about%}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-about" href="https://signdict.org/imprint">{% t global.imprint %}</a>
            </li>
            {% if site.lang == "de" %}
              <li class="nav-item">
                {% capture english_link %}{{ site.baseurl_root | default: "/" }}en{{ page.url }}{% endcapture %}
                <a class="nav-link" href="{{ english_link }}">English</a>
              </li>
            {% else %}
              <li class="nav-item">
                {% capture german_link %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
                <a class="nav-link" href="{{ german_link }}">German</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

      <div class="container">

        <div class="content">
          {{ content }}
        </div>

        <div class="footer">
          <h1 class="so-footer--sponsorheader">
            <a href="https://signdict.org/supporter">Unterstützer</a>          </h1>
          <p>
            <a href="https://bmbf.de"><img class="so-footer--sponsorlogo so-footer--bmbf" src="/images/logo-bmbf.svg" alt="Logo Bundesministerium für Bildung und Forschung"></a>
            <a href="https://prototypefund.de"><img class="so-footer--sponsorlogo so-footer--prototype" src="/images/logo-prototype.svg" alt="Logo Prototype Fund"></a>
            <a href="https://www.rrbone.net"><img class="so-footer--sponsorlogo so-footer--rrbone" src="/images/logo-rrbone.svg" alt="Logo rrone"></a>
            <a href="https://zweitag.de"><img class="so-footer--sponsorlogo so-footer--zweitag" src="/images/logo-zweitag.png" alt="Logo zweitag"></a>
          </p>
          <p class="so-footer--sponsorabout">
            <a href="https://signdict.org/supporter">Die komplette Liste an Unterstützern.</a>          
          </p>
        </div>

      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    </body>
</html>

