---
layout: default
---
<div class="content">
  <article>
    {% if page.image %}
      <div class="head">
        <img src="{{ page.image }}"/>
        <h1 class='headline'>{{ page.title }}</h1>
        <p class="meta">{{ page.date | date_to_string }}</p>
        {% if page.copyright %}
        <div class="copyright">{{ page.copyright | markdownify }}</div>
        {% endif %}
      </div>
    {% else %}
      <h1 class='headline'>{{ page.title }}</h1>
      <p class="meta">{{ page.date | date_to_string }}</p>
    {% endif %}

    <div class="post">
    {{ content | emojify }}
    </div>

</div>

{% include newsletter.html %}

